.tabell-center{
    display: flex;
    justify-content: center;
    height: 40vh;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

table{
    background-color: var(--secondary-color);
    color: white;
    padding: 13px;
    width: 100%;
}


table th{
    color: #ffe200;
    font-size: 13px;
    background-color: #171f4d7a;
}

table td{
    text-align: center;
}

.platinum{
    background-color: silver;
}

.diamond{
    background-color: #02d4fe;
}

.gold{
    background-color: gold;
}

.standard{
    background-color: gray;
}


.contact-wrapper{
    display: flex;
    justify-content: space-around;
    margin-left: 3vw;
}

.contact-form{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 2rem 5rem;
    width: 36vw;
    margin-bottom: 5vh;
}

.contact-form label{
    color: #11b1fa;
    font-size: 14px;
    margin-top: 1vh;
}

.contact-form input{
    padding: 4px 13px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    background-color: var(--primary-color);
    color: white;
}

.contact-form textarea{
    margin-top: 1vh;
    border-radius: 4px;
    margin-bottom: 2vh;
    max-width: 36vw;
    max-height: 10vh;
    padding: 1rem;
    outline: none;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}

#contact-button{
    background-color: hsl(198deg 100% 48%);
    margin-top: 1vh;
    
}

.info-contact{
    margin-top: 8vh;
    margin-left: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
}

.info-contact h2{
    display: flex;
    justify-content: center;
    color: #11b1fa;
    font-size: 45px;
}
.info-contact p{
    width: 40vw;
    font-size: 16px;
    color: white;
}

.wrapper-footer-info{
    border-top: 1px solid white;
    margin-top: 5vh;
}
@media only screen and (max-width: 768px){
    .contact-form{
        width: 100%;
        margin: 4vw;
    }

    .contact-wrapper{
        margin-left: 0;
        justify-content: center;
        flex-direction: column;

    }

    .contact-form textarea{
        max-width: 68vw;
    }

    .tabell-center{
        margin: 4vw;
    }

    .info-contact p{
        margin-left: auto;
        margin-right: auto;
        width: 85vw;
        font-size: 12px;
    }
}