@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Raleway:wght@200&family=Roboto:wght@100&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@200&family=Roboto:wght@100&family=Signika+Negative&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#171f4d;
    --secondary-color: #2d3481;
}

::-webkit-scrollbar{
    display: none;
}

html {
    font-size: 62.5%;
    font-family: "poppins", sans-serif;
}
body {
    overflow-x: hidden;
    background-color: var(--primary-color);
    font-family: 'poppins', sans-serif;
}
.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    z-index: 10;
    position: relative;
    background-color: #0709211c;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--secondary-color)
    height: 11vh;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #b5b5b5;
}
.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
  
.nav-item {
    margin-left: 3rem;
}
  
.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}
  
.nav-link:hover {
    color: #ffff;
}
  
.nav-logo {
    height: 2rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
}
.side-show {
    font-weight: bolder;
}

.search-logo{
    margin-left: auto;
    margin-right: -1rem;
    display: flex;
}
.search{
    background-color: transparent;
    border: 2px solid #fcfcfcea;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #ffffff;
    font-family: inherit;
    margin-right: 1rem;
}
.search:focus{
    outline: 0;
    background-color: rgb(192, 192, 192);
}
.search::placeholder{
    color: #ffffffa4 ;
}

.fa-user-circle{
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-right: 3rem;
}
.img-home{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;

}
.hero-image{
    background-image: linear-gradient(#00000026, #0000001f),url("img/judeus-samson-tI6m-AXpAsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 66vh;
    position: relative;
    top: -11vh;    
    -webkit-transition: 0.2s;
}
.hero-infos{
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
    align-items: center;
    height: 58vh;
    font-family: "raleway";
}
.hero-infos h1{
    font-family: "bebas neue";
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
    letter-spacing: 3px;
}
.hero-infos a{
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 20px;
}
.buttons-hompage{
    display: flex;
    gap: 26px;
    margin-top: 2rem;
}

.button-black{
    background-color: black;
}
.button-blue{
    background-color: #02d4fe;
}

.button-black:hover{
    background-color: #02d4fe;
}
.button-blue:hover{
    background-color: black;
}
.button-red{
    background-color: red;
}
.button-red:hover{
    background-color: #02d4fe;
}

/*Movie api*/
#main-movie{
   display: flex;
    flex-direction: row;
   overflow-x: scroll;
   scroll-behavior: smooth;
}
#drama-movie{
    display: flex;
     flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
#best2010-movie{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth
}
#search-result{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth
}


.movie-genre{
    color: rgb(0 213 255);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.movie-card{
    width: 17vw; 
    margin: 1rem;
    border-radius: 3px;
}

.movie-image {
    width: 15vw;
    height: 100%;
}

.popular-flez{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.popular-genre{
    color: white;
    font-size: 4rem;
    margin-left: 7rem;
}



.movie-information span.review-green{
    color: rgb(16, 245, 16);
}
.movie-information span.review-orange{
    color: rgb(240, 156, 0);
}
.movie-information span.review-red{
    color: rgb(255, 53, 2);
}

.movie-information {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #00000030;
    width: 100vw;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.movie-backdrop{
    width: 84%;
    height: 54vh;
    margin: 1rem 10rem;
    object-fit: cover;
    object-position: center;
}
.movie-information h2{
    font-size: 4rem;
    margin: 1rem;
    margin-left: 10rem;
}
.overview{
    font-size: 2rem;
    width: 50vw;
    margin: 1rem;
    margin-left: 1rem;
}
.relase-date{
    color: lightgrey;
    font-size: 1.5rem;
    margin-left: 2rem;
}



@media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 4.7rem;
      flex-direction: column;
      background-color: var(--secondary-color);
      width: 100%;
      transition: 0.3s;
      z-index: 8;
      position: absolute;
      border-top: 1px solid rgb(0, 0, 0);
    }
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      margin-left: auto;
      background-color: var(--primary-color);
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .hero-infos{
        height: 46vh;
        margin-left: 4rem;
    }
    .hero-image{
        height: 39vh;
    }
    .hero-infos h1{
        font-size: 30px;
    }
    .search{
        border: 2px solid var(--primary-color);
    }
    .nav-logo{
        height: 4rem;
        width: 17rem;
    }
    
}
